@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <h5>
            1. Dichiarare una variabile valorizzandola con il nostro nome. <br />
            Dichiarare un'altra variabile valorizzandola con il nostro cognome. <br />
            Stampare il nostro nome e cognome all'interno di un tag h2.
        </h5>
        @{
            string myName = "Marco";
            string mySurname = "Rinaldi";
        }
        <h2> Ciao, mi chiamo @myName @mySurname! </h2>
    </div>

    <div>
        <h5>
            2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso) <br />
            Stampare dentro uno span il risultato.
        </h5>
        @{
            int CalcolaSomma(int numero)
            {
                int somma = 0;
                for (int i = 1; i <= numero; i++)
                {
                    somma += i;
                }
                return somma;
            }
        }
        <p> La somma dei numeri che vanno da 1 a 5 è @CalcolaSomma(5)! </p>
    </div>

    <div>
        <h5>
            3. Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina
        </h5>
        @{
            int ContaOccorrenze(char carattere)
            {
                string testo = "nel mezzo del cammin di nostra vita";
                int conteggio = 0;
                foreach (char c in testo)
                {
                    if (c == carattere)
                    {
                        conteggio++;
                    }
                }
                return conteggio;
            }
        }
        <p> La lettera "a" è presente nella frase "nel mezzo del cammin di nostra vita" ben @ContaOccorrenze('a') volte! </p>
    </div>

    <div>
        <h5>
            4. Creare una Lista di 20 numeri interi (generati random da 1 a 90, 1 e 90 inclusi) e mostrare in pagina solo i numeri compresi tra 20 e 70
        </h5>
        @{
            List<int> interi = new List<int>();
            Random rand = new Random();

            for (int i = 0; i < 20; i++)
            {
                int newNumber = rand.Next(1, 91);
                interi.Add(newNumber);
            }
        }
        @foreach (int numero in interi)
        {
            @if (numero > 20 && numero < 70)
            {
                <span> @numero </span>
            }
        }
    </div>

    <div>
        <h5>
            5. Stampare in pagina la data e l'ora attuale (usando la classe DateTime) con il formato anno-mese-giorno ore:minuti:secondi
        </h5>
    </div>

    <div>
        <h5>
            6. Partendo dalla data di oggi (usando la classe DateTime) stampare in pagina <br />
            a. la data di 7 giorni fa <br />
            b. che giorno della settimana è oggi (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...) <br />
            c. che giorno della settimana sarà nello stesso giorno e mese di oggi ma tra un anno (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)
        </h5>
    </div>
</div>
