/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

/* HEADER */
header {
    height: 100px;
    background-color: #1d1d1d;
}

    header .nav-item {
        padding: 1rem;
    }

        header .nav-item .nav-link {
            color: white;
        }

        header .nav-item:hover .nav-link {
            color: #f3a446;
        }

/* MAIN */
main {
    height: calc(100% - 150px);
    overflow-y: scroll;
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

    main::-webkit-scrollbar {
        display: none;
    }

/* FOOTER */
footer {
    height: 50px;
    background-color: #1d1d1d;
}

    footer small {
        letter-spacing: .2rem;
    }



/* MEDIA QUERY */
@media(min-width:768px) {
    header .navbar-nav {
        margin-left: -120px;
    }
}