@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <link rel="stylesheet" href="~/css/IndexStyle.css" />
}
<div class="container">
    <h1 class="text-center py-3"> Le Nostre Pizze </h1>
    <table class="table table-dark">
        <thead>
            <tr class="text-center">
                <th scope="col">Immagine</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrizione</th>
                <th scope="col">Prezzo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img class="img-thumbnail" src="~/img/margherita.jpg" alt="Pizza Margherita">
                </td>
                <td width="200px">
                    Pizza Margherita
                </td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet commodo dui. Integer auctor turpis ut velit accumsan interdum. Mauris sodales lectus est. Cras volutpat eu nibh sit amet laoreet. Sed mattis diam eu bibendum interdum. Morbi ac ornare odio, id vulputate nisl. Sed quis gravida quam. Donec turpis risus, tincidunt a pretium vel, sollicitudin vel dolor. Mauris ut turpis ut metus fermentum ultricies sit amet non ante. Mauris iaculis orci sit amet molestie faucibus. Morbi diam dolor, luctus malesuada quam nec, bibendum sagittis est. Pellentesque scelerisque aliquet turpis vitae consequat. Integer condimentum, arcu non ultricies elementum, nibh sapien bibendum justo, in dictum arcu nisi maximus justo. Nulla luctus, erat nec pharetra auctor, dui quam cursus dolor, sit amet cursus orci elit ut ipsum. Sed faucibus justo leo, ac tempus felis molestie vel.
                </td>
                <td width="100px" class="text-success fw-bold">
                    € 8,00
                </td>
            </tr>
            <tr>
                <td>
                    <img class="img-thumbnail" src="~/img/marinara.jpg" alt="Pizza Marinara">
                </td>
                <td width="200px">
                    Pizza Marinara
                </td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet commodo dui. Integer auctor turpis ut velit accumsan interdum. Mauris sodales lectus est. Cras volutpat eu nibh sit amet laoreet. Sed mattis diam eu bibendum interdum. Morbi ac ornare odio, id vulputate nisl. Sed quis gravida quam. Donec turpis risus, tincidunt a pretium vel, sollicitudin vel dolor. Mauris ut turpis ut metus fermentum ultricies sit amet non ante. Mauris iaculis orci sit amet molestie faucibus. Morbi diam dolor, luctus malesuada quam nec, bibendum sagittis est. Pellentesque scelerisque aliquet turpis vitae consequat. Integer condimentum, arcu non ultricies elementum, nibh sapien bibendum justo, in dictum arcu nisi maximus justo. Nulla luctus, erat nec pharetra auctor, dui quam cursus dolor, sit amet cursus orci elit ut ipsum. Sed faucibus justo leo, ac tempus felis molestie vel.
                </td>
                <td width="100px" class="text-success fw-bold">
                    € 9,00
                </td>
            </tr>
            <tr>
                <td>
                    <img class="img-thumbnail" src="~/img/formaggi.jpg" alt="Pizza Quattro Formaggi">
                </td>
                <td width="200px">
                    Pizza Quattro Formaggi
                </td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet commodo dui. Integer auctor turpis ut velit accumsan interdum. Mauris sodales lectus est. Cras volutpat eu nibh sit amet laoreet. Sed mattis diam eu bibendum interdum. Morbi ac ornare odio, id vulputate nisl. Sed quis gravida quam. Donec turpis risus, tincidunt a pretium vel, sollicitudin vel dolor. Mauris ut turpis ut metus fermentum ultricies sit amet non ante. Mauris iaculis orci sit amet molestie faucibus. Morbi diam dolor, luctus malesuada quam nec, bibendum sagittis est. Pellentesque scelerisque aliquet turpis vitae consequat. Integer condimentum, arcu non ultricies elementum, nibh sapien bibendum justo, in dictum arcu nisi maximus justo. Nulla luctus, erat nec pharetra auctor, dui quam cursus dolor, sit amet cursus orci elit ut ipsum. Sed faucibus justo leo, ac tempus felis molestie vel.
                </td>
                <td width="100px" class="text-success fw-bold">
                    € 9,00
                </td>
            </tr>
            <tr>
                <td>
                    <img class="img-thumbnail" src="~/img/diavola.jpg" alt="Pizza Diavola">
                </td>
                <td width="200px">
                    Pizza Diavola
                </td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet commodo dui. Integer auctor turpis ut velit accumsan interdum. Mauris sodales lectus est. Cras volutpat eu nibh sit amet laoreet. Sed mattis diam eu bibendum interdum. Morbi ac ornare odio, id vulputate nisl. Sed quis gravida quam. Donec turpis risus, tincidunt a pretium vel, sollicitudin vel dolor. Mauris ut turpis ut metus fermentum ultricies sit amet non ante. Mauris iaculis orci sit amet molestie faucibus. Morbi diam dolor, luctus malesuada quam nec, bibendum sagittis est. Pellentesque scelerisque aliquet turpis vitae consequat. Integer condimentum, arcu non ultricies elementum, nibh sapien bibendum justo, in dictum arcu nisi maximus justo. Nulla luctus, erat nec pharetra auctor, dui quam cursus dolor, sit amet cursus orci elit ut ipsum. Sed faucibus justo leo, ac tempus felis molestie vel.
                </td>
                <td width="100px" class="text-success fw-bold">
                    € 8,00
                </td>
            </tr>
            <tr>
                <td>
                    <img class="img-thumbnail" src="~/img/capricciosa.jpg" alt="Pizza Capricciosa">
                </td>
                <td width="200px">
                    Pizza Capricciosa
                </td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet commodo dui. Integer auctor turpis ut velit accumsan interdum. Mauris sodales lectus est. Cras volutpat eu nibh sit amet laoreet. Sed mattis diam eu bibendum interdum. Morbi ac ornare odio, id vulputate nisl. Sed quis gravida quam. Donec turpis risus, tincidunt a pretium vel, sollicitudin vel dolor. Mauris ut turpis ut metus fermentum ultricies sit amet non ante. Mauris iaculis orci sit amet molestie faucibus. Morbi diam dolor, luctus malesuada quam nec, bibendum sagittis est. Pellentesque scelerisque aliquet turpis vitae consequat. Integer condimentum, arcu non ultricies elementum, nibh sapien bibendum justo, in dictum arcu nisi maximus justo. Nulla luctus, erat nec pharetra auctor, dui quam cursus dolor, sit amet cursus orci elit ut ipsum. Sed faucibus justo leo, ac tempus felis molestie vel.
                </td>
                <td width="100px" class="text-success fw-bold">
                    € 10,00
                </td>
            </tr>
            <tr>
                <td>
                    <img class="img-thumbnail" src="~/img/boscaiola.jpg" alt="Pizza Boscaiola">
                </td>
                <td width="200px">
                    Pizza Boscaiola
                </td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet commodo dui. Integer auctor turpis ut velit accumsan interdum. Mauris sodales lectus est. Cras volutpat eu nibh sit amet laoreet. Sed mattis diam eu bibendum interdum. Morbi ac ornare odio, id vulputate nisl. Sed quis gravida quam. Donec turpis risus, tincidunt a pretium vel, sollicitudin vel dolor. Mauris ut turpis ut metus fermentum ultricies sit amet non ante. Mauris iaculis orci sit amet molestie faucibus. Morbi diam dolor, luctus malesuada quam nec, bibendum sagittis est. Pellentesque scelerisque aliquet turpis vitae consequat. Integer condimentum, arcu non ultricies elementum, nibh sapien bibendum justo, in dictum arcu nisi maximus justo. Nulla luctus, erat nec pharetra auctor, dui quam cursus dolor, sit amet cursus orci elit ut ipsum. Sed faucibus justo leo, ac tempus felis molestie vel.
                </td>
                <td width="100px" class="text-success fw-bold">
                    € 10,00
                </td>
            </tr>
            <tr>
                <td>
                    <img class="img-thumbnail" src="~/img/americana.jpg" alt="Pizza Americana">
                </td>
                <td width="200px">
                    Pizza Americana
                </td>
                <td>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet commodo dui. Integer auctor turpis ut velit accumsan interdum. Mauris sodales lectus est. Cras volutpat eu nibh sit amet laoreet. Sed mattis diam eu bibendum interdum. Morbi ac ornare odio, id vulputate nisl. Sed quis gravida quam. Donec turpis risus, tincidunt a pretium vel, sollicitudin vel dolor. Mauris ut turpis ut metus fermentum ultricies sit amet non ante. Mauris iaculis orci sit amet molestie faucibus. Morbi diam dolor, luctus malesuada quam nec, bibendum sagittis est. Pellentesque scelerisque aliquet turpis vitae consequat. Integer condimentum, arcu non ultricies elementum, nibh sapien bibendum justo, in dictum arcu nisi maximus justo. Nulla luctus, erat nec pharetra auctor, dui quam cursus dolor, sit amet cursus orci elit ut ipsum. Sed faucibus justo leo, ac tempus felis molestie vel.
                </td>
                <td width="100px" class="text-success fw-bold">
                    € 12,00
                </td>
            </tr>
        </tbody>
    </table>
</div>

