@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1 class="text-white pt-4">@ViewData["Title"]</h1>

    <p class="text-white">Use this page to detail your site's privacy policy.</p>
</div>
